/* common class */
.wrap{
	padding-top: 145px; 
}
.inner{
	padding: 0 6%;
}
.small-orange{
	font-size: 14px;
	color: #A46B4D;
}

/* ===== header ===== */
.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 24px 0;
	border-bottom: 1px solid #dbdbdb;
	background-color: #fff;
	z-index: 500;
}
.header__top,
.header__bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo__title{
	font-family: Mulish;
	font-size: 24px;
}
.logo__mark{
	width: 124px;
	height: auto;
}

.header__bottom{
	margin-top: 36px;
}

/* gnb */
.lst__gnb{
	display: flex;
	align-items: center;
}
.gnb__item{
	font-size: 16px;
}
.gnb__item + .gnb__item{
	margin-left: 46px;
}
.gnb__item.on{
	font-weight: 700;
}

/* util-menu */
.lst__util-menu{
	display: flex;
	align-items: center;
}
.util-menu__item + .util-menu__item{
	margin-left: 24px;
}
.util-menu__item .util-menu__link{
	display: block;
	width: 100%;
	height: 100%;
}
.util-menu__item .icon{
	height: 30px;
	width: auto;
}


/* ===== footer ===== */
.footer{
	background-color: #E6E6E6;
	padding: 14px 0;
	line-height: 1;
	color: #000;
}
.business-info{
	padding: 20px 0;
	border-bottom: 1px solid #000;
}
.business__call{
	font-family: Mulish;
	font-size: 2.6em;
	font-weight: 400;
}
.business__call + p{
	font-weight: 400;
	line-height: 1.3;
	margin: 22px 0;
}
.lst__board{
	display: flex;
	align-items: center;
}
.board__link{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px 8px;
	background-color: #000;
}
.board__link > span{
	color: #fff;
	font-size: 0.85em;
	line-height: 1;
}
.board__item + .board__item{
	margin-left: 6px;
}

.terms{
	font-size: 0.85em;
	padding: 22px 0;
}
.lst__terms{
	display: flex;
	align-items: center;
	font-weight: 400;
	margin: 8px 0 22px;
}
.terms__item{
	padding: 0 6px;
	border-left: 1px solid #000;
}
.terms__item:first-child{
	padding-left: 0;
	border-left: 0;
}
.terms__link{
	display: flex;
	align-items: center;
	justify-content: center;
}
address{
	font-style: normal;
	line-height: 1.2;
}


/* ===== container ===== */

/* container */
.container{
	padding-bottom: 24px;
}
.container__wrap{
	display: flex;
}
.section{
	flex-grow: 1;
}


/* cards */
.lst__cards{
	display: flex;
	flex-wrap: wrap;
}
.cards__item{
	width: calc((100% - 44px) / 3);
	margin-bottom: 22px;
}
.cards__item + .cards__item{
	margin-left: 22px;
}
.card__img{
	width: 100%;
}
.card__contents{
	padding: 27px 24px;
	background-color: #fff;
}
.card__title{
	font-size: 2.4em;
	font-weight: 300;
	line-height: 1.3;
	margin-bottom: 24px;
}
.lst__card-products{
	background-color: #fff;
	padding: 0 24px 27px;
	box-sizing:border-box;
}
.card-products__item{
	border-top: 1px solid #dbdbdb;
	padding: 14px 0;
}
.card-products__link{
	display: flex;
	align-items: center;
}
.card-product__img{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 82px;
	height: 64px;
	background-color: #eee;
	margin-right: 14px;
}
.card-product__img img{
	width: 82px;
}
.card-product__info{
	flex-grow: 1;
	max-width: calc(100% - 96px);
}
.card-product__brand{
	color: #6B6B6B;
	font-size: 0.8em;
}
.card-product__name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 600;
	font-size: 0.95em;
}
.card-product__price{
	color: #A46B4D;
	font-weight: 600;
	font-size: 0.95em;
}


/* pagination */
.pagination{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
}
.pagination > button{
	color: #aaa;
	padding: 10px;
	font-weight: 300;
}
.btn__page-first,
.btn__page-last{
	font-size: 0.8em;
}
.pagination .btn__page-num{
	font-size: 1.4em;
}
.btn__page-num.active{
	color: #000;
}