
/* ===== container ===== */
.main-container{
	background-color: #F2F2F2;
	padding: 22px 0;
}
.section__banners{
	width: 41%;
	margin-right: 22px;
}
.banner__link{
	display: block;
	width: 100%;
	height: 100%;
}
.banner__link .banner__img{
	width: 100%;
	height: auto;
}
.section__main-contents{
	width: 59%;
}