
/* ===== container ===== */
.main-container{
	background-color: #F2F2F2;
	padding: 22px 0;
}
.section__banners{
	width: 41%;
	margin-right: 22px;
}
.banner__link{
	display: block;
	width: 100%;
	height: 100%;
}
.banner__link .banner__img{
	width: 100%;
	height: auto;
}
.section__main-contents{
	width: 59%;
}

.main-container .cards__item{
	width: calc((100% - 22px) / 2);
}
.main-container .cards__item:nth-child(2n+1){
	margin-left: 0;
}