/* ===== sub common ===== */
.sub-container{
	background-color: #fff;
	color: #000;
}
/* lnb */
.lnb{
	width: 182px;
	padding: 32px 0;
	margin-right: 60px;
}
.lnb__title{
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 25px;
	border-bottom: 3px solid #000;
}
.lst__lnb{
	padding: 20px 0;
}
.lst__lnb .lnb__item{
	color: #333;
}
.lst__lnb .lnb__item.on{
	color: #A46B4D;
	font-weight: 600;
}
.lst__lnb .lnb__link{
	display: block;
	padding: 10px 0;
}

/* section__sub-contents */
.section__sub-contents{
	max-width: calc(100% - 242px);
	padding-bottom: 56px;
}
.sub__products + .sub__products{
	margin-top: 24px;
}
.sub__top-image img{
	width: 100%;
}
.sub__desc{
	margin: 92px 0; 
	font-size: 1.2em;
}
.sub__desc strong{
	display: block;
	font-weight: 300;
	font-size: 2em;
	padding-bottom: 60px;
	text-transform: uppercase;
}

/* sub__products */
.sub-products__top{
	display: flex;
	align-items:flex-end;
	justify-content: space-between;
}
.sub-products__top strong{
	font-size: 2em;
	font-weight: 300;
}
.sub-products__top .flex{
	align-items:flex-end;
	margin-bottom: 36px;
}
.sub-products__top .flex > p{
	margin-right: 36px;
	font-size: 1.2em;
}
.group__filter{
	display: flex;
	align-items: center;
}
.filter__item{
	color: #aaa;
	font-size: 1.1em;
}
.filter__item.on{
	color: #A46B4D;
}
.filter__item + .filter__item{
	position: relative;
}
.filter__item + .filter__item:before{
	content: "";
	position: absolute;
	left: 0;
	width: 1px;
	height: 12px;
	top: 50%;
	margin-top: -6px;
	background-color: #ccc;
}
.filter__item > button{
	padding: 8px;
}
.filter__item:last-child > button{
	padding-right: 0;
}

.lst__products{
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(4, 1fr);
	padding: 32px 0;
}
.products__link{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.product__img{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.product__img > img{
	width: 100%;
	height: auto;
}
.product__info{
	text-align: center;
	padding: 12px 0;
	font-size: 0.9em;
	font-weight: 600;
	max-width: 196px;
}
.product__brand{
	color: #6B6B6B;
	font-weight: 400;
}
.product__name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.product__price{
	color: #A46B4D;
}

.sub-container .section__cards{
	background-color: #F2F2F2;
}
.sub-container .section__cards .lst__cards{
	padding: 70px 0 94px 242px;
}